

.card{
    background-color: rgba(148, 142, 142, 0.533);
    width: 510px;
    height: 400px;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid rgb(134, 125, 125);
    border-radius: 6px;
    /* box-shadow: 20px -20px 100px rgb(203, 198, 198); */
}

.card-img{
    width: 480px;
    height: 350px;
    border-radius: 15px;
    margin: 10px;
}

.card-link{
    margin: 10px;
    font-weight: 600;
}


