.header{
    background-color: #EEF0F5;
}
.header-box{
    text-align: center;
}

.header-subtitle{
    padding-top: 130px;
    color: #0a1530;
    font-size: 80px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}



.header-title{
    margin-top: 45px;
    text-align: center;
    font-size: 24px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.25;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}



.header-atom-list{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.header-atom-item{
    width: 357px;
    height: 45px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0px 40px;
}

.header-atom-link1{
    text-align: center;
    color: #0a1530;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translate(-50% , -40%);
}

.header-atom-link1::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/img/ux.png);
    width: 35px;
    height: 35px;
    transform: translate(-130% , 80%);

}


.header-atom-link2{
    text-align: center;
    color: #0a1530;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translate(-50% , -40%);
}

.header-atom-link2::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/img/social-media.png);
    width: 35px;
    height: 35px;
    transform: translate(-130% , 80%);

}



.header-atom-link3{
    text-align: center;
    color: #0a1530;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translate(-50% , -40%);
}

.header-atom-link3::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/img/bullhorn.png);
    width: 35px;
    height: 35px;
    transform: translate(-130% , 80%);

}


.header-atom-link4{
    text-align: center;
    color: #0a1530;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translate(-50% , -40%);
}

.header-atom-link4::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/img/brand.png);
    width: 35px;
    height: 35px;
    transform: translate(-130% , 80%);

}


.header-atom-link5{
    text-align: center;
    color: #0a1530;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translate(-40% , -40%);
}

.header-atom-link5::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/img/montage.png);
    width: 35px;
    height: 35px;
    transform: translate(-130% , 80%);

}